snippet des "suite (describe)" b
describe("${1:a suite}", function () {
	$0
});
endsnippet

snippet it "spec" b
it("${1:a spec}", function () {
	$0
});
endsnippet

snippet bef "beforeEach" b
beforeEach(function () {
	$0
});
endsnippet
